<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="true">
<swiper-slide  *ngFor="let item of PromotionIncoming.PlayerOffers"  id="backgroundImage" style=" background: url({{item.Data.PromotionContent.Carousel.BackgroundImageUrl}}) !important;" >
  <div class="grid-container">
      <div class="grid-item" id="MainViewPortText">
        <h1>{{item.Data.PromotionContent.Carousel.PrimaryText}}</h1>
      <div class="grid-item" id="secondViewPortText">
        <h2>{{item.Data.PromotionContent.Carousel.SecondaryText}}</h2>
      </div>
      <div class="grid-item:">
        <a href="#fakeLink" class="btn sky">{{item.Data.PromotionContent.Buttons[0].Text}}</a>
      </div>
      <div class="grid-item" id="link">
          <a href="#fakeLink">Rules</a>
      </div>
  </div>
 </div>

</swiper-slide>
</swiper-container>

