<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
centered-slides="true" autoplay-delay="9992500" autoplay-disable-on-interaction="true">
<swiper-slide id="backgroundImage" style=" background: url(https://www.dos-mediastorecdn.com/promos/CS7162_LapsedBirthday_Premium_Funplay.jpg) !important;">
  <div class="grid-container">
      <div class="grid-item" id="MainViewPortText">
        <h1>Welcome to offer</h1>
      <div class="grid-item" id="secondViewPortText">
        <h2>Secondary text</h2>
      </div>
      <div class="grid-item:">
        <a href="#fakeLink" class="btn sky">Deposit</a>
      </div>
      <div class="grid-item" id="link">
          <a href="#fakeLink">No Thanks</a>
      </div>
      <div class="grid-item" id="link">
          <a href="#fakeLink">Rules</a>
      </div>
  </div>
 </div>

</swiper-slide>
<swiper-slide>Slide 2</swiper-slide>
<swiper-slide>Slide 3</swiper-slide>
<swiper-slide>Slide 4</swiper-slide>

</swiper-container>

